body {
	background: yellow;
}

.klasni_selector {
	color: red;
	font-size: 30px;
	text-align: center;
}

#id_selector_tabele {
	background: blue;
	color: white;
	height: 150px;
	width: 400px;	
}

tr, td, th {
	border: 1px solid black;
}

